# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/flask_session/
backend/scratch/

# Node
frontend/node_modules/
frontend/dist/
frontend/.npm/

# Environment Variables (CRITICAL)
backend/.env
frontend/.env
.env

# Application Data & Media
backend/dataset/
backend/attendance_logs/
backend/split_encodings/
backend/app/static/uploads/
backend/encodings/

# Editor & OS
.vscode/
.idea/
.DS_Store
*.log
